In [31]:
import regex as re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [32]:
text='Python Exercises, PHP exercises.'
pattern=r"[\s.,]"
result=re.sub(pattern,":",text)
print(result)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [33]:
Dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(Dict)
df["SUMMARY"]=df["SUMMARY"].str.replace(r"\.|,|!|X+|\d+|:|;","",regex=True)

In [34]:
df

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [35]:
def char_find(string):
    pattern=re.compile(r"\w{4,}")
    result=pattern.findall(string)
    return result
char_find("It includes both uppercase and lowercase letters (A-Z, a-z), digits (0-9), and the underscore character (_).")

['includes',
 'both',
 'uppercase',
 'lowercase',
 'letters',
 'digits',
 'underscore',
 'character']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [36]:
def char_find3_5(string):
    pattern=re.compile(r"\w{3,5}")
    result=pattern.findall(string)
    return result
char_find3_5("It includes both uppercase and lowercase letters (A-Z, a-z), digits (0-9), and the underscore character (_).")

['inclu',
 'des',
 'both',
 'upper',
 'case',
 'and',
 'lower',
 'case',
 'lette',
 'digit',
 'and',
 'the',
 'under',
 'score',
 'chara',
 'cter']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [37]:
def remove_parentheses(list1):
    pattern=re.compile(r'[()]')
    for i in list1:
        result=pattern.sub("",i)
        print(result)
remove_parentheses(["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"])

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [38]:
#Entering the text into the file

sample_text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
with open("sample.txt", "w") as file:
    for i in sample_text:
        file.write(f"{i}\n")
#Manuplating the text in the file

pattern=re.compile(r"\s+\(.+\)")    
with open("sample.txt", "r") as file:
     original_text = file.read() 
#print(original_text)

cleaned_text=pattern.sub("",original_text)

#print(cleaned_text)

with open("sample.txt","w") as file:
    file.write(cleaned_text)
    
#showing the output/read the file:

with open("sample.txt", "r") as file:
        text=file.read()
print(text)

example
hr@fliprobo
github
Hello
Data

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [39]:
pattern=re.compile(r"[A-Z][a-z]*")
sample="ImportanceOfRegularExpressionsInPython"
result=pattern.findall(sample)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [40]:
text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r'(\d+)([A-Za-z]+)'
result = re.sub(pattern, r' \1\2', text)#substitute it with space before first capture group and followed by second capture group
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [41]:
def space(text):
    pattern = r'(\d+)([A-Za-z]+)'
    result = re.sub(pattern, r' \1 \2', text)# there is space before and after the first capture group and followed by second group
    return result
space(text)

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

Question 10-

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [42]:
import pandas as pd

In [43]:
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [44]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [45]:
pattern=r'(\w{1,6})'
df["First_five_letter"]=df.Country.str.extract(pattern)

In [46]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,First_five_letter
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [47]:
def match_word(string):
    pattern=re.compile(r'^\w+$')
    result=pattern.match(string)
    if result:
        print(f"\"{string}\" is valid string")
    else:
        print(f"\"{string}\" is invalid string")

In [48]:
match_word("Hello_love123")
match_word("Hello@134")

"Hello_love123" is valid string
"Hello@134" is invalid string

Question 12- Write a Python program where a string will start with a specific number.

In [49]:
def start_with(string,specific_no):
    str_num=str(specific_no)
    
    pattern=re.compile(str_num)
    result=pattern.match(string)
    if result:
        print(f"String starts_with {specific_no} ")
    else:
        print(f"String doesn't starts_with {specific_no} ")

In [50]:
start_with("40 is the start of thestring",40)
start_with("40 is the start of thestring",42)

String starts_with 40
String doesn't starts_with 42

Question 13- Write a Python program to remove leading zeros from an IP address

In [51]:
def remove_leading_zeros(ip_address):
    
    IP_list = ip_address.split(".")

   
    cleaned_list = [str(int(i)) for i in IP_list]

    
    cleaned_ip = ".".join(cleaned_list)

    return cleaned_ip

# Example usage
ip_address = "192.010.001.100"
cleaned_ip = remove_leading_zeros(ip_address)
print(f"Original IP: {ip_address}")
print(f"Cleaned IP: {cleaned_ip}")

Original IP: 192.010.001.100
Cleaned IP: 192.10.1.100

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format

In [52]:
sample_txt=" On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
with open("sample.txt","w") as file:
    file.write(sample_txt)
with open("sample.txt","r") as file:
     output=file.read()
date_pattern = re.compile(r"(January|February|March|April|May|June|July|August|September|October|November|December)\s+(\d{1,2})(st|nd|rd|th)\s+(\d{4})")
result=date_pattern.findall(output)
for i in result:
    out=" ".join(i)
out

'August 15 th 1947'

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [53]:

def search_literals(text):
    pattern=re.compile(r"fox|dog|horse")
    found_words = pattern.findall(text)
    return found_words


text = 'The quick brown fox jumps over the lazy dog.'

result = search_literals(text)

if result:
    print(f"Found words: {', '.join(result)}")
else:
    print("No matching words found.")

Found words: fox, dog

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [54]:

def search_lit_add(text):
    pattern=re.compile(r"(fox)")
    address = pattern.search(text)
    return address


text = 'The quick brown fox jumps over the lazy dog.'

search_lit_add(text)


Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [55]:
sample="Python exercises, PHP exercises, C# exercises"

pattern=r"exercises"
result=re.findall(pattern,sample)
result

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [59]:
def find_substring_positions(text, substring):
    positions = []
    start = 0

    while True:
        index = text.find(substring, start)
        if index == -1:
            break
        positions.append(index)
        start = index + 1

    return positions


sample_text = "The quick brown fox jumps over the lazy dog fox."
searched_substring = "fox"

substring_positions = find_substring_positions(sample_text, searched_substring)

if substring_positions:
    print(f"'{searched_substring}' occurs at positions: {', '.join(map(str, substring_positions))}")
else:
    print(f"'{searched_substring}' not found in the text.")

'fox' occurs at positions: 16, 44

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [63]:
string = "The quick brown fox jumps 123 over 456 the lazy dog."
numbers = []
for index, char in enumerate(string):
    if char.isdigit():
        numbers.append((char, index))
if len(numbers)>=1:
    print("Numbers and their positions:")
    for num, pos in numbers:
        print(f"Number {num} found at position {pos}.")
else:
    print("No numbers found in the text.")

Numbers and their positions:
Number 1 found at position 26.
Number 2 found at position 27.
Number 3 found at position 28.
Number 4 found at position 35.
Number 5 found at position 36.
Number 6 found at position 37.

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [64]:
string="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
pattern=re.compile(f"\d+")
result=pattern.findall(string)
print(max(result))

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [81]:
pattern=re.compile(f"([^A-Z][a-z]*)")
text="RegularExpressionIsAnImportantTopicInPython"
result=pattern.sub(r"\1 ",text)
result

'Regular Expression Is An Important Topic In Python '

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [82]:
text = "The Quick brown Fox jumps over the lazy Dog."
pattern = r'[A-Z][a-z]+'

matches = re.findall(pattern, text)
print("Matches found:")
for match in matches:
    print(match)

Matches found:
The
Quick
Fox
Dog

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [83]:
string="Hello hello world world"
regex=r"\b(\w+)(?:\W+\1\b)+"
x=re.sub(regex,r"\1",string)
print(x)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [85]:
text="hello this is 123"
pattern = r'^.*[a-zA-Z0-9]$'  # Alphanumeric character at the end
if re.match(pattern, text):
    print(f"'{text}' is valid (ends with an alphanumeric character).")
else:
    print(f"'{text}' is not valid (does not end with an alphanumeric character).")

'hello this is 123' is valid (ends with an alphanumeric character).

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [102]:
text= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered 
USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern=re.compile(r"#[A-Za-z]+")
result=pattern.findall(text)
if result:
    print("Extracted hashtags:")
    for hashtag in result:
        print(hashtag)
else:
    print("No hashtags found in the text.")

Extracted hashtags:
#Doltiwal
#xyzabc
#Demonetization

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [108]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=re.compile(r'<U\+[\w]+>')
result=pattern.sub("",text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [113]:
text=" Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
with open("date.txt","w") as file:
    file.write(text)
pattern=re.compile(r"\s(\d{2}-\d{2}-\d{4})")
with open("date.txt","r") as file:
    inp=file.read()
result=pattern.findall(inp)
print("Extracted_date:")
for i in result:
    print(i)

Extracted_date:
12-09-1992
15-12-1999

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [119]:
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=re.compile(r'\b\w{2,4}\b')
result=pattern.sub("",text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.