# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and 
salary filter.  
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.  
You have to scrape the job-title, job-location, company name, experience required.  
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs  
The task will be done as shown in the below steps:  
1. first get the web page https://www.naukri.com/ 
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.  
3. Then click the search button.  
4. Then apply the location filter and salary filter by checking the respective boxes  
5. Then scrape the data for the first 10 jobs results you get.  
6. Finally create a dataframe of the scraped data.

In [104]:
#import libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd 
import time
import warnings
warnings.filterwarnings('ignore')

#setup selenium webdriver
driver=webdriver.Chrome()

#open naukri.com
driver.get('https://www.naukri.com/')

# wait until page is fully loaded and input fields are present
wait=WebDriverWait(driver,30)

#locate the skill field and enter the skill field as Data Scientist using the send_keys method

skill=driver.find_element(By.XPATH,'.//input[@placeholder="Enter skills / designations / companies"]')
skill.send_keys("Data Scientist")

#locate the search buttton
search_button=wait.until(EC.element_to_be_clickable((By.XPATH,'.//div[@class="qsbSubmit"]')))
search_button.click()

#Select checkbox of Delhi/Ncr(location filter)
location_filter=wait.until(EC.element_to_be_clickable((By.XPATH,'.//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i[1]')))
location_filter.click()

time.sleep(3)

#filter salary range from 3-6 lakh
salary_filter=wait.until(EC.presence_of_element_located((By.XPATH,'.//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i[1]')))
salary_filter.click()

jobs=[]

time.sleep(4)

#locate all the required element which we wants to scrap like Job_title,location, experience,company_name
job_element=wait.until(EC.presence_of_all_elements_located((By.XPATH,'.//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]')))
for element in job_element[:10]:
    job_title=element.find_element(By.XPATH,'.//a[@class="title "]').text
    location_elements = element.find_elements(By.XPATH, ".//span[@class='locWdth']")
    location = location_elements[0].text if location_elements else None
    experience_elements = element.find_elements(By.XPATH, ".//span[@class='expwdth']")
    experience = experience_elements[0].text if experience_elements else None
    company_elements = element.find_elements(By.XPATH, ".//a[contains(@class, 'comp-name')]")
    company_name = company_elements[0].text if company_elements else None
    jobs.append({"Job Title":job_title,"Location":location,"Company_Name":company_name,"Experience_Required":experience})
df=pd.DataFrame(jobs)


df.index=range(1,len(df)+1)#set the range of the index to avoid 0 indexing

#Display the dataframe
df

,Job Title,Location,Company_Name,Experience_Required
1,Data Scientist: Artificial Intelligence,Gurugram,IBM,3-7 Yrs
2,Data Scientist,Gurugram,Collegedunia,0-2 Yrs
3,Data Scientist,Noida,Innovaccer,2-7 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Monnai,3-7 Yrs
5,Data Scientist,Noida,Tiketcom,3-7 Yrs
6,Data Scientist,New Delhi,Sociomix,0-5 Yrs
7,Data scientist,Gurugram,Growthjockey,0-1 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
9,Data Scientist (Telco),"Gurugram, Bengaluru",PayU,2-7 Yrs
10,Data Scientist,Noida,Times Internet,3-8 Yrs

# Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.shine.com/ 
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field. 
3. Then click the searchbutton.  
4. Then scrape the data for the first 10 jobs results you get.  
5. Finally create a dataframe of the scraped data.

In [45]:
#import libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By#In Selenium, from selenium.webdriver.common.
#by import By is used to import the By class, which is an essential component for locating elements on a web page.
import warnings
warnings.filterwarnings('ignore')
import time

driver=webdriver.Chrome()

# get the website
driver.get('https://www.shine.com/')

# Step 2: Locate input fields for "Job title, Skills" and "Location"
jobs=driver.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/input')
jobs.click()
time.sleep(3)

# entering designation as required in the question
designation=driver.find_element(By.XPATH,'//div[@class="position-relative"]/input[1]')
designation.send_keys("Data Scientist")

# entering location as required in the question
location=driver.find_element(By.XPATH,'//div[@class="position-relative" and @id="select_container_id_loc"]/input[1]')
location.send_keys("Bangalore")

#entering experience
experience=driver.find_element(By.XPATH,'//div[@id="select_container_id_exp"]/input[1]')
experience.send_keys("4")
time.sleep(2)

# click on the search button to search the required jobs
search_button=driver.find_element(By.XPATH,'//button[@type="submit"]')
search_button.click()
time.sleep(3)

Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

# Scrapping the job_title from the site:
title_tags=driver.find_elements(By.XPATH,'//strong[@itemprop="name"]/p[1]/a[1]')
for i in title_tags[0:10]:
    Job_title.append(i.text)
# Scrapping the job_location from the site:
location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]')
for i in location_tags[0:10]:
    Job_location.append(i.text)
#Scrapping the company name:
comapany_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span[1]')
for i in comapany_tags[0:10]:
    Company_name.append(i.text)
#Scrapping the experience required:
experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience[0:10]:
    Experience_required.append(i.text)

# creating the dataframe/dataset by the name of df1
df1=pd.DataFrame({"Job_title":Job_title,"Job_location":Job_location,"Company":Company_name,"Experience_Required":Experience_required})

#Setting the index from 1 to the length of the dataset
df1.index=range(1,len(Job_location)+1)

#Displaying dataframe
df1

,Job_title,Job_location,Company,Experience_Required
1,Data Scientist,Bangalore\n+6,techno endura,0 to 2 Yrs
2,Lead Data Scientist,Bangalore\n+8,spento papers (india) llp,12 to 22 Yrs
3,Data Scientist,Bangalore\n+9,future solution centre,2 to 7 Yrs
4,Data Scientist,Bangalore\n+2,the christopher's consulting and re...,0 to 2 Yrs
5,Data Scientist,Bangalore,eliterecruitments hiring for global...,4 to 8 Yrs
6,Data Scientist,Bangalore\n+9,divya staffing solution,0 to 4 Yrs
7,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
8,Data Science Manager,Bangalore\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
9,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
10,Data Management Team Leader,Bangalore\n+9,overnet trading private limited,0 to 4 Yrs

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
 LIPKART 
As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review summary 
3. Full review 
4. You have to scrape this data for first 100reviews.

In [105]:
#import libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')
import time

# setup selenium webdriver
driver=webdriver.Chrome()

# wait until page is fully loaded and input fields are present
wait=WebDriverWait(driver,30)

# get the flipkart website for review
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

reviews=[]
count=0
while True:
    
    time.sleep(2)
    #locate the review elment
    review_element=wait.until(EC.presence_of_all_elements_located((By.XPATH,'.//div[@class="col EPCmJX Ma1fCG"]')))
    for element in review_element:
        if count==100:
            break
        Rating=element.find_element(By.XPATH,'.//div[@class="XQDdHH Ga3i8K"]').text
        Review=element.find_element(By.XPATH,'.//div[@class="ZmyHeo"]/div[1]/div[1]').text
        reviews.append({"Reviews":Review,"Ratings":Rating})
        count+=1
    if count==100:
        break
    time.sleep(2)
    next_button=wait.until(EC.element_to_be_clickable((By.XPATH,"//a[@class='_9QVEpD']/span[1][text()='Next']")))
    next_button.click()
# creating the dataframe/dataset by the name of df2
df2=pd.DataFrame(reviews)
df2.index=range(1,len(df2)+1)
#displaying Dataframe
df2

                                               Reviews Ratings
1                                       Very very good       5
2                                         Photos super       5
3                                          Good Camera       5
4    Camera is awesome\nBest battery backup\nA perf...       5
5                                    Value for money üòç       5
..                                                 ...     ...
96   A perfect phone and a good battery super camer...       5
97                          Very nice iPhone 11 i lake       5
98                                     Fantastic phone       5
99                                           Excellent       5
100  Really worth of money. i just love it. It is t...       5

[100 rows x 2 columns]

# Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search 
field. 
You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price

In [103]:
# import libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

#set up selenium webdriver
driver=webdriver.Chrome()

#step:1 open the flipkart.com
driver.get('https://www.flipkart.com/')

# wait until the page is fully loaded and the input fields are present
wait=WebDriverWait(driver,30)# increased wait time

#step2: find the search field
search_field=wait.until(EC.presence_of_element_located((By.XPATH,'.//div[@class="_2SmNnR"]/input[1]')))

#Step3: Enter sneakers to the search field
search_field.send_keys('sneakers')

#Step4: locate the search button
search_button=wait.until(EC.element_to_be_clickable((By.XPATH,'.//button[@title="Search for Products, Brands and More"]')))
search_button.click()

#Step 5 for the first 100 sunglasses result
Sneakers=[]

count=0
Number_Of_Result=100
while True:
   
    Sneakers_element=wait.until(EC.presence_of_all_elements_located((By.XPATH,'.//div[@class="hCKiGj"]')))
    for elements in Sneakers_element:
        if count==Number_Of_Result:
            break
        brand=elements.find_element(By.XPATH,'.//div[@class="syl9yP"]').text
        discription=elements.find_element(By.XPATH,'.//a[contains(@class,"WKTcLC")]').text
        price=elements.find_element(By.XPATH,'.//div[@class="Nx9bqj"]').text
        Sneakers.append({"Sneakers_Brand":brand,"Discription":discription,"Price":price})
        count+=1
        
       
  
    next_Button=wait.until(EC.element_to_be_clickable((By.XPATH,"//a[@class='_9QVEpD']/span[1][text()='Next']")))
    next_Button.click()
    time.sleep(2)

    if count==Number_Of_Result:
        break
# Step 6: Create a DataFrame of the scraped data   
df3=pd.DataFrame(Sneakers)

# setting index from 1 to range
df3.index=range(1,len(Sneakers)+1)
df3

    Sneakers_Brand                                        Discription   Price
1             aadi                                   Sneakers For Men    ‚Çπ422
2        Deals4you                                 Sneakers For Women    ‚Çπ419
3         Red Tape  Sneaker Casual Shoes For Men | Soft Cushion In...  ‚Çπ1,349
4         Red Tape  Sneaker Casual Shoes For Men | Soft Cushion In...  ‚Çπ1,349
5           Shozie  Stylish Walking Partywear Sneakers Casual Shoe...    ‚Çπ449
..             ...                                                ...     ...
96        RapidBox                                   Sneakers For Men    ‚Çπ625
97        BERSACHE  Bersache Sneaker, Loafers ,Casual With Extra C...    ‚Çπ730
98          VENDOZ  Girls Stylish Casual Sports Shoe Sneakers For ...    ‚Çπ639
99           asian  Moscow-01 White Loafers,Chunky Shoes Sneakers ...    ‚Çπ880
100          asian  Boston-01 Chunky Sneakers,Loafers,Walking Shoe...    ‚Çπ809

[100 rows x 3 columns]

# Q5: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand  
2. ProductDescription  
3. Price

In [73]:
# import libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

#set up selenium webdriver
driver=webdriver.Chrome()

#step:1 open the flipkart.com
driver.get('https://www.flipkart.com/')

# wait until the page is fully loaded and the input fields are present
wait=WebDriverWait(driver,30)# increased wait time

#step2: find the search field
search_field=wait.until(EC.presence_of_element_located((By.XPATH,'.//div[@class="_2SmNnR"]/input[1]')))

#Step3: Enter sunglasses to the search field
search_field.send_keys('Sunglasses')

#Step4: locate the search button
search_button=wait.until(EC.element_to_be_clickable((By.XPATH,'.//button[@title="Search for Products, Brands and More"]')))
search_button.click()

#Step 5 for the first 100 sunglasses result
Sun_glasses=[]

count=0
Number_Of_Result=100
while True:
   #
    Sun_glasses_element=wait.until(EC.presence_of_all_elements_located((By.XPATH,'.//div[@class="hCKiGj"]')))
    for elements in Sun_glasses_element:
        if count==Number_Of_Result:
            break
        brand=elements.find_element(By.XPATH,'.//div[@class="syl9yP"]').text
        discription=elements.find_element(By.XPATH,'.//a[contains(@class,"WKTcLC")]').text
        price=elements.find_element(By.XPATH,'.//div[@class="Nx9bqj"]').text
        Sun_glasses.append({"Sun_Glasses_Brand":brand,"Discription":discription,"Price":price})
        count+=1
        
       
  
    next_Button=wait.until(EC.element_to_be_clickable((By.XPATH,"//a[@class='_9QVEpD']/span[1][text()='Next']")))
    next_Button.click()
    time.sleep(5)

    if count==Number_Of_Result:
        break
# Step 6: Create a DataFrame of the scraped data   
df4=pd.DataFrame(Sun_glasses)

# setting index from 1 to range
df4.index=range(1,len(Sun_glasses)+1)
df4

,Sun_Glasses_Brand,Discription,Price
1,Being Better,"Gradient, UV Protection, Riding Glasses Retro ...",‚Çπ239
2,OCHILA,UV Protection Aviator Sunglasses (58),‚Çπ279
3,Fastrack,UV Protection Wayfarer Sunglasses (58),"‚Çπ1,099"
4,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",‚Çπ599
5,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",‚Çπ549
...,...,...,...
96,IRUS,Gradient Rectangular Sunglasses (65),"‚Çπ1,502"
97,HIPE,"UV Protection, Night Vision Spectacle Sunglass...",‚Çπ542
98,Eyewearlabs,"Polarized, UV Protection Round Sunglasses (47)","‚Çπ1,799"
99,I REBEL,"Night Vision, Riding Glasses, Polarized, UV Pr...",‚Çπ184
100,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,‚Çπ529

# Q6: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU 
Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image: 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [6]:
# import libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

#set up selenium webdriver
driver=webdriver.Chrome()

#step:1 open the Amazon.com
driver.get('https://www.amazon.in/')

# wait until the page is fully loaded and the input fields are present
wait=WebDriverWait(driver,30)# increased wait time

#step2: find the search field
search_field=wait.until(EC.presence_of_element_located((By.XPATH,'.//input[@placeholder="Search Amazon.in"]')))

#Step3: Enter Laptop to the search field
search_field.send_keys('Laptop')

#Step4: locate the search button
search_button=wait.until(EC.element_to_be_clickable((By.XPATH,'.//input[@id="nav-search-submit-button"]')))
search_button.click()

# select the filter with intel Corei7
intel_Core_i7=wait.until(EC.element_to_be_clickable((By.XPATH,'.//li[@aria-label="Intel Core i7"]/span[1]/a[1]/div[1]')))
intel_Core_i7.click()


#Step 5 for the first 10 Laptops result
Laptop=[]

count=0
Number_Of_Result=10
while True:
    laptop_element=wait.until(EC.presence_of_all_elements_located((By.XPATH,'.//div[@class="a-section a-spacing-small a-spacing-top-small"]')))[1:]
    time.sleep(4)
    for elements in laptop_element:
        if count==Number_Of_Result:
            break
        Title=elements.find_element(By.XPATH,'.//span[@class="a-size-medium a-color-base a-text-normal"]').text
        Rating=elements.find_element(By.XPATH,'.//i[@data-cy="reviews-ratings-slot"]/span[1]').text
        #rating_element =wait.until(EC.visibility_of_element_located((By.XPATH, './/i[@data-cy="reviews-ratings-slot"]/span[1]')))
    
        price=elements.find_element(By.XPATH,'.//span[@class="a-price"]/span[1]').text
        Laptop.append({"Title":Title,"Rating":Rating,"Price":price})
        count+=1
        
       
  
    next_Button=wait.until(EC.element_to_be_clickable((By.XPATH,".//a[contains(@aria-label,'next page')]")))
    next_Button.click()
    time.sleep(5)

    if count==Number_Of_Result:
        break
# Step 6: Create a DataFrame of the scraped data   
df5=pd.DataFrame(Laptop)

# setting index from 1 to range
df5.index=range(1,len(Laptop)+1)
df5

                                                Title Rating Price
1   Acer Aspire Lite 12th Gen Intel Core i7-1255U ...
2   ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...
3   HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...
4   Acer Travelmate Business Laptop Intel Core i7-...
5   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...
6   Dell Inspiron 3530 Laptop, 13th Generation Int...
7   (Refurbished) Dell Latitude 7480 14in FHD Lapt...
8   Dell [Smartchoice] Inspiron 5430 Thin & Light ...
9   MSI Thin 15, Intel 13th Gen. Core i7-13620H, 4...
10  Acer Nitro V Gaming Laptop 13th Gen Intel Core...

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time. 
The above task will be done in following steps: 
1. First get the webpagehttps://www.azquotes.com/ 
2. Click on Top Quote 
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [37]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

# Set up Selenium WebDriver
driver = webdriver.Chrome()

try:
    # Open the website
    driver.get('https://www.azquotes.com/')

    # Wait until the page is fully loaded and the input fields are present
    wait = WebDriverWait(driver, 30)

    # Locate and click the Top Quotes link
    top_quotes = wait.until(EC.element_to_be_clickable((By.XPATH, './/a[@href="/top_quotes.html"]')))
    top_quotes.click()

    quotes = []
    Desired_number = 1000
    count = 0

    while count < Desired_number:
        try:
            # Wait for the quotes to be present
            quote_elements = wait.until(EC.presence_of_all_elements_located((By.XPATH, './/div[@class="wrap-block"]')))

            for element in quote_elements:
                if count >= Desired_number:
                    break
                
                try:
                    quote = element.find_element(By.XPATH, './/a[@class="title"]').text
                    author = element.find_element(By.XPATH, './/div[@class="author"]/a[1]').text
                    tags = element.find_elements(By.XPATH, './/div[@class="tags"]/a')

                    # Extract up to three tags, defaulting to empty strings if fewer are present
                    tag1 = tags[0].text if len(tags) > 0 else ""
                    tag2 = tags[1].text if len(tags) > 1 else ""
                    tag3 = tags[2].text if len(tags) > 2 else ""

                    quotes.append({"Quote": quote, "Author": author, "Type_of_Quotes": [tag1, tag2, tag3]})
                    count += 1

                    if count >= Desired_number:
                        break

                except Exception as e:
                    print(f"Error processing an element: {e}")
                    continue

            # Click the "Next" button if not finished
            if count < Desired_number:
                try:
                    next_button = wait.until(EC.element_to_be_clickable((By.XPATH, './/li[@class="next"]')))
                    next_button.click()
                    time.sleep(2)  # Slight delay to allow page to load
                except Exception as e:
                    print(f"Error finding or clicking the next button: {e}")
                    break

        except Exception as e:
            print(f"Error fetching quotes: {e}")
            break

finally:
    # Close the WebDriver
    driver.quit()

# Convert the quotes list to a DataFrame for easier handling
df = pd.DataFrame(quotes)

def process_tuple(x):
    a, b,c = x  # Unpack the tuple
    # Perform some operations
    return f'{a}, {b}, {c}'

# Apply the function to each element in the column
df['Type_of_Quotes'] = df['Type_of_Quotes'].apply(process_tuple)

df.index=range(1,len(df)+1)

In [38]:
df

,Quote,Author,Type_of_Quotes
1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
996,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
997,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
998,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
999,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
1000,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"